
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 17rem 1fr;
    grid-template-rows: 7rem auto;
    grid-template-areas:
        "navbar navbar"
        "sidebar main";
    min-height: 100vh;
}

/* Navigation bar on top */
.navbar {
    grid-area: navbar;
    position: sticky;
    top: 0;
    z-index: 24000;
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    padding-left: 1rem;
    height: 7rem;
    z-index: 24000;
    background-color: #fff;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.icon_and_text {
    display: flex;
    padding: 0 1rem;
    font-size: 24px;
    align-items: center;
}

#main__logo {
    height: 60px;
    width: 60px;
}

#settings_icon {
    height: 60px;
    width: 60px;
    margin-right: 2rem;
}

.burger {
    display: block;
    width: none;
    height: 3px;
    background-color: gray;
    margin: 4px auto;
}

.burger_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 1rem;
}


/* Lines */
.horizontal-line {
    background-color: grey;
    height: 1px;
    width: 100%;
    position: fixed;
    top: 111px;
    z-index: 24001;
}

.vertical-line {
    background-color: grey;
    height: 100%;
    width: 1px;
    position: fixed;
    left: 17rem;
    transition: none;
}


/* Sidebar menu */

.menu_container {
    grid-area: sidebar;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
}

.menu {
    /* margin-top: 7rem; */
    width: 17rem;
    display: grid;
    position: fixed;
    transition: none;
    background-color: white;
}

.menu a {
    padding: 3rem;
    text-decoration: none;
    color: grey;
    cursor: pointer;
    justify-self: center;
    display: flex;
    font-size: 24px;
}

.menu_items {
    width: 17rem;
    justify-content: center;
    background-color: #fff;
}

.menu a:hover {
    background-color: #e1e1e1;
}


/* Mobile response for menu */
@media screen and (max-width: 768px) {
    .burger {
        width: 2rem;
    }

    .menu_container {
        position: fixed;
        top: 7rem;
        height: 100vh;
        width: 17rem;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in;
        transform: translateX(-100%);
        background-color: white;
        z-index: 9999;
    }

    .menu {
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in;
        transform: translateX(-100%);
        background-color: white;
        z-index: 9999;
    }

    .vertical-line {
        transition: all 0.3s ease-in;
        transform: translateX(-17rem);
        width: 0px;
    }

    .menu.active {
        transform: translateX(0);
    } 

    .menu_container.active {
        transform: translateX(0);
    } 

    .vertical-line.active {
        width: 1px;
        transform: translateX(0);
    }
}

/* Hero section */

.main_section {
    grid-area: main;
    display: grid;
    grid-template-columns: 365px 365px auto;
    grid-template-rows: 18rem 25rem auto;
    padding: 2rem;
    gap: 1rem;
    grid-template-areas: 
        "month_stats year_stats"
        "net_graph net_graph";
}

/* Month and year section */

/* Monthly expenditure box */


#month_stats_box_container {
    grid-area: month_stats;
}

#year_stats_box_container {
    grid-area: year_stats;
}

.ov_box_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
    place-self: center;
    width: 360px;
    height: 280px;
    border: 1px solid gray;
    border-radius: 8px;
}

#line_ov_box {
    background-color: gray;
    height: 1px;
    width: 360px;
    justify-self: center;
}

#stats_text {
    font-size: 30px;
    color: gray;
    margin-top: 4px;
}

.inc_exp_box_container {
    width: 350px;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ov_box {
    width: 150px;
    height: 100px;
    justify-content: center;
    align-items: center;
    place-self: center;
    display: flex;
    border: 1px solid gray;
    border-radius: 8px;
}

.ov_text {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ov_text h1 {
    font-size: 20px;
    color: gray;
}

.ov_text h2 {
    font-size: 38px;
    color: gray;
}

#net_box_container {
    margin-top: 0;
    height: 75px;
    width: 310px;
}

#net_text_container {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#net_text_container h2 {
    font-size: 40px;
}

#net_text_container h1 {
    font-size: 26px;
}

/* Month and year mobile response */

@media screen and (max-width: 1100px) {
    .month_and_year_stats_container {
        left: 19rem;
        width: 445px;
        transition: all 0.3s ease-in;
    }
}

@media screen and (max-width: 768px) {
    body {
        grid-template-areas: 
            "navbar navbar"
            "main main";
    }

    .main_section {
        grid-template-columns: 100vw;
        grid-template-rows: 18rem 18rem;
        padding: 0;
        gap: 1rem;
        grid-template-areas: 
            "month_stats"
            "year_stats"
            "net_graph";
    }

    .month_and_year_stats_container {
        display: flex;
        left: 0rem;
        /* width: 445px; */
        width: 100%;
        transition: all 0.3s ease-in;
    }

    .month_and_year_stats_container.menuOpened {
        /* left: 17rem; */
        position: relative;
    }

    .graph_container {
        max-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .month_and_year_stats_container {
        display: flex;
        left: 0rem;
        width: 100%; 
        transition: all 0.3s ease-in;
    }

    .graph_container {
        max-width: 400px;
        max-height: 300px;
    }

    .graph_container h1 {
        color: gray;
        font-size: 30px;
    }
}

/* Graph for income and expenses */

.graph_container {
    grid-area: net_graph;
    place-self: center;
    width: 740px;
    height: 400px;
    border-radius: 6px;
    border-color: gray;
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#graph {
    width: 90%;
    max-width: 90%;
    /* height: 400px; */
    max-height: 320px;
}

.graph_container h1 {
    color: gray;
}

.graph_line {
    width: 100%;
    height: 1px;
    background-color: gray;
}